<div class="jumbotron text-center">
  <h2>Help Queue</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Submit a Ticket</h2>
      {{new-ticket save="save"}}
    </div>
    <div class="col-md-8">
      <h2>Current Tickets</h2>
      {{#each model as |ticket|}}
        {{ticket-list ticket=ticket}}
      {{/each}}
    </div>
  </div>
</div>
